/* Write your CSS here */

.transaction-history-inner-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding-top: 7px;
}

.transaction-item-style {
  margin-top: 0px;
  font-family: Roboto;
  padding-top: 4px;
  font-size: 14px;
  color: #7e858e;
}

.delete-button {
  background-color: transparent;
  border-width: 0px;
}

.delete-icon-style {
  height: 16px;
  width: 16px;
  margin-right: 20px;
}
